---
interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "Full Stack Developer | Angular, NestJS, TypeScript, Flutter",
} = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />

    <title>{title}</title>
  </head>
  <body class="bg-slate-50 text-slate-900 antialiased">
    <slot />
  </body>
</html>
